h2,
.h2 {
  font-size: 2em !important;
  font-weight: 200 !important;
}
h1,
.h1 {
  font-size: 2.8em !important;
}

@media only screen and (max-width: 990px) {
  h1,
  .h1 {
    font-size: 2.8em !important;
  }
  h2,
  .h2 {
    font-size: 1.6em !important;
  }
}
