@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
:root {
  --primary-color: #272829;
  --secondary-color: #34F96D;
  --dark-color: #1B2328;
}
body {
  background-color: #1B2328;
  color: #cdcdcd;
  position: relative;
}

a {
  color: #cdcdcd;
}

/* Transition
 -----------------------------*/
.page-enter-active {
  overflow: hidden;
  transition: transform 400ms cubic-bezier(0.4, 0.1, 0.7, 0.95);
}

.page-enter {
  transform: translateX(5%);
}
.page-enter-from,
.page-leave-to {
  opacity: 0.5;
  filter: blur(0.5rem);
}
