:root {
  --base-color: #4b5757;
  --base-primary-color: #34312d;
  --base-secondary-color: #909090;
  --main-bg-color: #f2f2f2;
  --secondary-rgb: 0, 0, 65;
  --secondary-color: #1D1D1E;
  --primary-rgb: 234, 32, 53;
  --primary-color: rgb(218, 44, 45);
  --dark-color: #060606;
}
body {
  overflow-x: hidden;
  color: var(--base-color);
  background: #d6d1cd;
}
.underline-hover a:hover {
  text-decoration: underline;
}
.primary-gradient {
  background: rgb(236, 41, 41);
  background: linear-gradient(
    135deg,
    rgba(236, 41, 41, 1) 0%,
    rgba(190, 76, 244, 1) 100%
  );
}
.secondary-gradient {
  background: rgb(236, 41, 41);
  background: linear-gradient(
    135deg,
    rgba(236, 41, 41, 1),
    rgb(234, 32, 53) 80%
  );
}
.text-primary-gradient,
.text-secondary-gradient {
  color: var(--primary-color);
}
.sidebar-button {
  border: none;
  padding: 10px;
  background: var(--white-color);
  border: 0.5px solid var(--gray-light-color);
  border-radius: 50%;
  height: 46px;
  width: 46px;
  font-size: 24px;
  z-index: 1000000000;
  position: relative;
}
/* gradient text for modern browsers */
@supports (background-clip: text) {
  .text-primary-gradient {
    background: linear-gradient(45deg, #7c4dff 10%, #f63232);
    background: -webkit-linear-gradient(45deg, #7c4dff 10%, #f63232);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .text-secondary-gradient {
    background: linear-gradient(25deg, rgb(243, 61, 61), rgb(234, 32, 53) 80%);
    background: -webkit-linear-gradient(
      -25deg,
      rgb(243, 61, 61),
      rgb(234, 32, 53) 80%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.wrap-meta {
  padding: 6px 14px 6px 10px;
  border: 0.5px solid var(--gray-light-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 8px;
  font-size: 14px;
}
.wrap-meta img {
  width: 20px;
  margin-right: 5px;
}
.vdp-datepicker input {
  padding: 14px 10px;
  border: 1px solid #d6d6d6;
  width: 100%;
  border-radius: 4px;
}
.wrap-booking-option {
  margin: 20px 0;
}
.wrap-booking-option .booking-option-label {
  margin: 15px 0 5px;
}
.wrap-period-type {
  border-radius: 3px;
  background: #dddddd;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-grow: 2;
}
.wrap-period-type .generic-option {
  width: 50%;
  padding: 15px 10px;
  background: #f1f1f1;
  border: 1px solid #e0e0e0;
  cursor: pointer;
}
.wrap-period-type .generic-option.active {
  background: #dceeff;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.skeleton-loading {
  animation-name: skeleton-loading;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
@keyframes skeleton-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

/* MAIN SEARCH */
.main-search {
  position: relative;
  width: 100%;
  max-width: 650px;
  border: 1px solid #dfdfdf;
  display: flex;
  margin: 0 auto;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 4px;
  background: var(--white-color);
}
.main-search input {
  width: calc(100% - 40px);
  flex: 0 0 auto;
  padding: 9px 0 9px 20px;
  background: none;
  border: none;
}
.main-search button {
  margin: 3px 0;
  padding: 4px;
  font-size: 20px;
  width: 36px;
  height: 36px;
  border: none;
  font-weight: bold;
  background: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  color: var(--white-color);
  background: var(--primary-color);
  border-radius: 5px;
  position: relative;
}
.main-search .search-button {
  margin: 3px 0;
  padding: 4px;
  font-size: 20px;
  width: 36px;
  height: 36px;
  border: none;
  background: none;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  color: var(--white-color);
  background: var(--primary-color);
  border-radius: 5px;
  position: relative;
}
.password-eye {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: 18px;
  margin-top: 5px;
}

.select-option {
  width: 100%;
  padding: 10px 0 !important;
  border: 1px solid #e1e1e1;
  border-radius: 0.3em;
  margin: 11px 0 0 0;
}
.select-option svg {
  right: 12px;
  top: calc(50% - 3px);
  width: 10px;
  height: 6px;
  stroke-width: 2px;
  stroke: #9098a9;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}

.select-option {
  -webkit-appearance: none;
  width: 100%;
  background: none;
  cursor: pointer;
  font-family: inherit;
  padding: 10px 15px !important;
  transition: all 150ms ease;
}
.select-option :required:invalid {
  color: #5a667f;
}
.select-option select {
  border: none;
}
.select-option option {
  color: #223254;
  width: 100%;
}
.select-option option[value=''][disabled] {
  display: none;
}
.select-option :focus {
  outline: none;
  border-color: #07f;
  box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
}
.select-option :hover + svg {
  stroke: #07f;
}
.user-auth-card .button {
  color: var(--white-color) !important;
}

.logo {
  float: left;
  width: 120px !important;
}
.logo img {
  width: 100%;
}
.wrap-street-section {
  position: relative;
}
@media only screen and (max-width: 990px) {
  .wrap-street-section::before,
  .wrap-street-section::after {
    display: none;
  }
}

/* pagination */
.pagination {
  display: inline-block;
  margin: 20px 0;
}

.pagination button {
  float: left;
  padding: 0px;
  height: 35px;
  width: 35px;
  border-radius: 4px;
  margin: 0 3px;
  font-weight: bold;
  text-align: center;
  background: none;
  background: #f7f7f7;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  cursor: pointer;
  position: relative;
}
.pagination button i {
  position: relative;
  top: 2px;
  left: 0;
  right: 0;
}
.pagination button.active {
  background: var(--primary-color);
  color: var(--white-color);
  cursor: default;
}
.pagination button:disabled {
  cursor: default;
  background: #ececec;
  color: #d6d6d6;
  border-color: #d6d6d6;
}
.cld-image {
  border-radius: 5px;
}
.vm {
  border-radius: 8px;
}
.vm-backdrop {
  position: relative;
}
.vm-backdrop::before {
  filter: blur(0px);
  -webkit-filter: blur(0px);
  backdrop-filter: blur(2px);
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
}
.button-preview {
  margin: 0 4px;
  height: 26px;
  width: 26px;
  padding: 6px;
  border: none;
  text-align: center;
  background: var(--gray-light-color);
  color: var(--dark-color);
  border-radius: 50%;
  cursor: pointer;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}
.box {
  border: 0.5px solid var(--gray-light-color);
}
.wrap-content h2,
.wrap-content p {
  margin: 20px 0 10px 0;
}
@media only screen and (min-width: 991px) {
  nav {
    margin-left: 45px;
  }
}
@media only screen and (max-width: 990px) {
  nav {
    display: none;
  }
  header {
    display: flex;
    flex-direction: row;
  }
}
.FSocialIcons {
  margin: 5px 0;
}
.FSocialIcons a {
  font-size: 1.5em;
}

.fade-leave-active {
  transition: opacity 1s ease-in-out, transform 1s ease;
}

.fade-enter-active {
  transition: opacity 1s ease-in-out, transform 1s ease;
  transition-delay: 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave {
  opacity: 1;
}
